<div class="bigger">
<p><b>itext(ui.item.sku):</b> <span id="ucn"></span></p>
<p><b>itext(ui.item.description):</b> <span id="description"></span></p>
<p><b>itext(ui.item.quantity):</b> <span id="quantity"></span></p>
<p><b>itext(ui.item.tie):</b> <span id="tiebyhigh">4 x 5</span></p>
<p><b>itext(ui.item.purchase):</b> <span id="po"></span></p>
</div>