<p><b>itext(ui.printerlist.prompt):</b></p>
<ul id="printers">
  <li class="header clickable">
    <span class="skinnyL number vocabToPost">#</span>
    <span class="wide description">itext(ui.printerlist.description)</span>
    <span class="skinnyR location">itext(ui.printerlist.location)</span>
  </li>
</ul>