<div class="bigger">
<p><b>itext(ui.cyclecount.item.number):</b> <span id="item_number"></span></p>
<p><b>itext(ui.cyclecount.item.location):</b> <span id="location"></span></p>
<p><b>itext(ui.cyclecount.item.description):</b> <span id="description"></span></p>
<p><b>itext(ui.cyclecount.item.quantity):</b> <span id="quantity"></span></p>
<p><b>itext(ui.cyclecount.item.tie):</b> <span id="tie"></span> x <span id="high"></span></p>
</div>

<img id="image" class="item_picture"/>