<p><b>itext(ui.cyclecount.reason.prompt):</b></p>
<ul id="reasons">
  <li class="header clickable">
    <span class="skinnyL vocabToPost code">itext(ui.cyclecount.reason.code)</span>
    <span class="wide description">itext(ui.cyclecount.reason.description)</span>
  </li>
</ul>