<p><b>itext(ui.reservechain.aisle) <span id="aisle"></span> itext(ui.reservechain.slot) <span id="slot"></span></b></p>
<ul id="reserves" class="reserve">
  <li class="header">
    <span class="skinnyL location">itext(ui.reservechain.location)</span>
    <span class="wide1 pallet">itext(ui.reservechain.pallet)</span>
    <span class="wide2 item">itext(ui.reservechain.item)</span>
    <span class="skinnyR quantity">itext(ui.reservechain.quatity)</span>
  </li>
</ul>