
body {
    background: #fff;
    padding: 0;
    margin: 0;
}

table {
    margin: auto;
    margin-top:20px;
}

table td {
	text-align: center;
	padding: 10px;
}

#maindiv {
    margin-top: 0px;
	
	background: #fff;
	
	font-family: arial;
	font-size: 16px;
	
	position: relative;
}

#connectionStatus {
	position: absolute;
	top: 16px;
	left: 10px;
	border: 2px solid #aaa;
	width: 12px;
	height: 12px;
	border-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}

#serialnumber {
	position: absolute;
    top: 15px;
    left: 30px;
    margin: 0;
    padding: 0;
    font-size: 90%;
    font-family: arial;	
    width: 75px;
    height: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

#ip_address {
	display: none;
    position: absolute;
    top: 24px;
    left: 58px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: arial; 
    width: 75px;
    height: 12px;
    font-weight: bold;
}

#refreshStatus {
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: arial; 
    width: 16px;
    height: 16px;
    font-weight: bold;
    visibility: hidden;
    background: url('../images/ajax-loader.gif') top left no-repeat;
}

span#title {
    margin-right: 0px;
}

span#operator {
	margin-right: 0px;
	margin-left: 5px;
}

.disconnected {
    background: red;
}

.connected {
	background: green;
}


h1 {
	margin: 0;
	padding: 8px;
	font-weight: bold;
	font-size: 18px;
	background: #fff;
	border-bottom: 2px solid #666;
	height: 24px;
	text-align: right;
}

#content {
	padding: 0px 10px 0px 10px;
	margin: 0px;

}

.fixed_font {
	font-family: courier new;	
}


#vocheader
{
    background-color:#003882;
    margin-bottom:10px;
    height: 48px;
    text-align: right;
    color: #FFFFFF;
}

#vochead span {
	line-height: 120%;
}

#home
{
    display:block;
    margin:0;
    margin-left:10px;
    padding:5px;
    float: right;
    width: 12%;
    border-left: 2px solid #fff;
    text-align:center;
}

#home img {
	height: 37px;
	border: none;
}

#title_and_operator {
	text-align:right;
	width:100%;
	padding-top:13px;
}

/*
@media only screen and (min-device-width: 500px) {
    #maindiv {
        width: 100%;
        height: 100%;
        font-size: 26px;
    }
	#content {
	    padding: 0px 10px 0px 10px;
	    margin-top: 15%;
	    overflow: auto;
	}
	h1 {
	   font-size: 28px;
       height: 44px;
	}
	#serialnumber {
	    font-size: 22px;
	    height: 22px;
	    left: 78px;
	}
	#connectionStatus {
	    width: 22px;
	    height: 22px;
	    -webkit-border-top-left-radius: 12px;
	    -webkit-border-top-right-radius: 12px;
	    -webkit-border-bottom-left-radius: 12px;
	    -webkit-border-bottom-right-radius: 12px;
	    -moz-border-radius-topleft: 12px;
	    -moz-border-radius-topright: 12px;
	    -moz-border-radius-bottomleft: 12px;
	    -moz-border-radius-bottomright: 12px;
	}

}
*/

