.title {
	font-weight: bold;
}

p {
	font-family: arial;  
	font-size: 16px;
}

div.bigger p {
	font-size: 16px;
}

div.form {
	background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    font-size: 20px;
    padding: 6px 10px 10px 20px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    font-weight: bold;
}
div.form input {
	height: 25px;
}
div.form p {
	margin-top: 5px;
	margin-bottom: 5px;
}

p.center {
	text-align: center;
}

input.authorizeInput {
	border: 2px solid #999;
	background: #ddd;
	color: #333;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    height: 36px;
    width: 90px;
    margin: 10px;
}

h1 {
	margin: 0;
	padding: 8px;
	padding-left: 46px;
	font-weight: normal;
	font-size: 16px;
	background: #fff url('../images/header_logo.png') no-repeat left;
	border-bottom: 2px solid #666;
	height: 24px;
}

#pageFoot {
	margin-top: 40px;
	text-align: center;
}

#pageFoot a {
	font-size: 14px;
	color: #fff;
	font-weight:bold;
	text-decoration: underline;
	font-face: arial;
	padding-left: 16px;
	cursor: pointer;
}

#content {
	padding: 0px 10px 0px 10px;
	margin: 0px;
}
#footer {
	margin: 0;
	background: -moz-linear-gradient(top, #222222, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
	height: 43px;
	position: relative;
}
#footer div {
	position: absolute;
	width: 100px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	height: 32px;
	color: #fff;
	top: 2px;
	text-align: center;
	font-size: 10px;
	font-family: Verdana;
	-webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
	background: -moz-linear-gradient(top, #555, #333);
	border: 1px solid #000;
}
#footer div.selected {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
	background:-moz-linear-gradient(center top , #333333, #555555) repeat scroll 0 0 transparent;
	border:1px solid #AAAAAA;
}
#list {
	left: 40px;
}
#truck {
	right: 40px;
}

/*******************

 LIST VIEW STYLING

*******************/
ul {
	list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
li {
	background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 10px 10px;
    text-decoration: none;
    position: relative;
    height: 14px;
}
ul li:first-child {
	
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	
}
ul li:last-child {
	
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	
}
li.header {
	border-bottom: 2px solid #555;
    color: #000;
    font-weight: bold;
    padding: 8px 10px;
}
span.blue {
	color: #356AA0;
}

span.skinnyL, span.skinnyR, span.wide {
	display: block;
	position: absolute;
}

span.skinnyL {
	left: 10px;
	width: 50px;
}

span.skinnyR {
	right:10px;
	text-align:right;
	width:40px;
}

span.wide {
	left: 70px;
	width: 300px;
	text-overflow:ellipsis;
}

/*****Replenishment list pages***********/
ul.unrecognized span {
	display: block;
	position: absolute;
}

ul.unrecognized span.skinnyL {
	left: 10px;
	width: 30px;
}

ul.unrecognized span.wide1 {
    left: 30px;
    width: 70px;
    text-overflow:ellipsis;
}

ul.unrecognized span.wide2 {
    left: 105px;
    width: 85px;
    text-overflow:ellipsis;
}

ul.unrecognized span.wide3 {
    left: 196px;
    width: 200px;
    text-overflow:ellipsis;
}

/**** Reserve chain list ***********/
ul.reserve span {
    display: block;
    position: absolute;
}
ul.reserve span.skinnyL {
    left: 10px;
    width: 100px;
}

ul.reserve span.wide1 {
    left: 120px;
    width: 100px;
    text-overflow:ellipsis;
}

ul.reserve span.wide2 {
    left: 250px;
    width: 100px;
    text-overflow:ellipsis;
}

ul.reserve span.wide3 {
    left: 196px;
    width: 200px;
    text-overflow:ellipsis;
}

table.list tr {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 10px 10px;
    text-decoration: none;
    position: relative;
    height: 20px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
table.list tr:first-child {
	-webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}	

img.item_picture {
	position: absolute;
	right: 50px;
    top: 120px;
}
/*
@media only screen and (max-device-width: 480px) {
    body {
       background: #000;
       padding: 0;
       margin: 0;
    }
    
    #maindiv {
	    width: 480px;
	    height: 320px;
	    margin: 0px;
	    
	    border: none;
	    background: #eee;
	    
	    font-family: arial;
	    font-size: 16px;
    }
}
*/
/* Authorization Page Keypad */
table.keypad {
	background: #aaa;
	border: 1px solid #000;
	float: left;
	margin-left: 30px;
	margin-top: 0px;
}
table.keypad td {
	padding: 12px 20px 12px 20px;
	margin-left: 2px;
	border: 1px solid #000;
	background: #eee;
	font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    cursor: pointer;
}
div#keypadInputs {
	padding: 14px;
	text-alignt: center;
	font-size: 16px;
	font-weight: bold;
}
div.buttons {
	padding: 20px;
	margin-left: 210px;
}