<p><b>itext(ui.authorization.prompt):</b></p>
<table class="keypad">
    <tr>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
    <tr>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td></td>
        <td>0</td>
        <td></td>
    </tr>
</table>
<div class="buttons">
    <input id="clearCode" type="button" size="30" value="Clear" class="authorizeInput"/>
    <br/>
    <input id="submitCode" type="button" size="30" value="Submit" class="authorizeInput"/>
    <div id="keypadInputs">itext(ui.authorization.code): <span id="code"></span></div>
</div>
<div style="clear:both;"></div>
<script type="text/javascript">

	function clearEnteredCode() {
        x$("#code").html("");
	}
	function submitEnteredCode() {
		advanceTheVoiceApp(x$("#code").html());
	}
	function addValueToCode(event) {
		var targetVal = x$(event.target).html();
		if (targetVal != undefined) {
			var temp = x$("#code").html() + targetVal;
			x$("#code").html(temp);
		}
	}
    
    x$("#clearCode").on(EVENT_NAME, clearEnteredCode);
    x$("#submitCode").on(EVENT_NAME, submitEnteredCode);
    x$("table.keypad td").each(function(element) {
       number = x$(element).html(); 
       if (number != ""){
           x$(element).on(EVENT_NAME, addValueToCode);
       }
    });
</script>
