<p><b>itext(ui.itemslist.prompt):</b></p>
<ul id="items" class="unrecognized">
  <li class="header clickable">
    <span class="skinnyL index vocabToPost">#</span>
    <span class="wide1 ucn">itext(ui.itemslist.host.sku)</span>
    <span class="wide2 upc">itext(ui.itemslist.vendor.sku)</span>
    <span class="wide3 description">itext(ui.itemslist.description)</span>
    <span class="skinnyR quantity">itext(ui.itemslist.quantity)</span>
  </li>
</ul>