<p><b>itext(ui.purchaseorder.id):</b> <span id="number"></span></p>
<p><b>itext(ui.purchaseorder.description):</b> <span id="description"></span></p>
<p><b>itext(ui.purchaseorder.items):</b></p>
<ul id="items">
  <li class="header">
    <span class="skinnyL ucn">itext(ui.purchaseorder.header.sku)</span>
    <span class="wide description">itext(ui.purchaseorder.header.description)</span>
    <span class="skinnyR quantity">itext(ui.purchaseorder.header.quantity)</span>
  </li>
</ul>